writing/working/*
writing/deploy_qinggang/*
writing/finance/articles_news/
writing/finance/three_questions.pdf
writing/fluids/
writing/forlove/
writing/handcraft.md
writing/photography_travel/GR.md
writing/photography_travel/emei_ Tibet_travel_plan.md
writing/photography_travel/gr-2.pdf
writing/photography_travel/tibet/
writing/recruiting2019.md
writing/finance/zhibenshe/*
*/.idea/*
.idea/*

